.Calif {
    padding: 80px 0;
    text-align: center;
  }
  table th {
    text-align: center;
  }
  .Calif h1 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
  }
  .Calif h3 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
  }
  .Calif h4 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
  }
  
  .Calif h4 i {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
  }
  
  .card {
    cursor: pointer;
  }
  